.cnt-home {
  width: 100vw;
  height: 100vh;
  display: flex;

  align-items: center;

  &__tittleDiv {
    width: 100%;
    display: flex;

    text-align: center;
    flex-direction: column;
    // background-color: beige;
  }
}
.tittle-name {
  font-family: "light";
  font-size: 30px;
  color: var(--color-text-2);
}
.tittle-dev {
  font-size: 13px;
  font-family: "medium";
  color: var(--color-text-2);
}
.cnt-home-icns {
  width: 100%;
//   background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: absolute;
  bottom: 30px;

  &__face {
    width: 30px;
    height: 30px;
    filter: invert(1);
  }
  &__git {
    width: 30px;
    height: 30px;
    filter: invert(1);
  }
  &__linkedin {
    width: 30px;
    height: 30px;
    filter: invert(1);
  }
}
