:root {
  --background-color: #ffffff;
  --button-color-1: #ffe944;
  --color-text-1: #4dd599;
  --color-text-2: #ffffff;
  --color-text-3: #000000;
  --button-premium-1: #dc143c;
  --font-light: "light";
  --font-italic: "medium";
}
